{:deps  {io.github.nextjournal/clerk    {:mvn/version "0.16.1016"}
         arrowic/arrowic {:mvn/version "0.1.1"}
         org.clojure/math.combinatorics {:mvn/version "0.3.0"}}
 :aliases
 {:nextjournal/clerk
  {:exec-fn   nextjournal.clerk/build!
   :exec-args {:paths ["src/drewverlee/seven_troubleshooting_tips_for_squashing_software_bugs.clj"]}}}}
